openapi: 3.2.0
info:
  title: zkMe Protocol Zk OBS API
  version: '1.0'
  x-apievangelist-generated: '2026-07-21'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.zk.me/hub/start/onboarding/integration/api
  description: zkMe is a decentralized identity network providing privacy-preserving compliance for Web3.
  contact:
    name: zkMe Integration
    email: contact@zk.me
    url: https://docs.zk.me
  license:
    name: Documentation - zkMe
    url: https://docs.zk.me
servers:
- url: https://agw.zk.me
  description: zkMe API gateway (zkKYC, zkOBS, zkKYB, KYT)
- url: https://nest-api.zk.me
  description: zkMe access-token service (SDK integration)
tags:
- name: zkOBS
  description: Open banking / accredited-investor (proof of accreditation)
paths:
  /zkseradmin/openapi/queryKycInfoByAddressForPoa:
    post:
      operationId: queryKycInfoByAddressForPoa
      tags:
      - zkOBS
      summary: Get a user's proof-of-accredited-investor (zkOBS) result
      description: Returns the proof-of-accredited-investor status (6 stages from Verification Started to PoAI Passed/Failed) for an account. Currently supports Polygon (137) and Base (8453).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ApiKeyAuth'
              - type: object
                required:
                - programNo
                - account
                - chainId
                properties:
                  programNo:
                    type: string
                  account:
                    type: string
                  chainId:
                    type: string
                    description: Polygon (137) or Base (8453)
      responses:
        '200':
          description: zkOBS accreditation overview
          content:
            application/json:
              schema:
                type: object
                properties:
                  poaiCompletedTimeUnix:
                    type: string
                  poaiStatus:
                    type: string
                  ssiAddress:
                    type: string
                  zkmeId:
                    type: string
components:
  schemas:
    ApiKeyAuth:
      type: object
      required:
      - mchNo
      - apiKey
      properties:
        mchNo:
          type: string
          description: AppID from the zkMe dashboard
        apiKey:
          type: string
          description: API key from the zkMe dashboard
